@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.highcontrast .empimg {
  background-color: #ffd939;
}

#Emptext {
  top: -12px;
  left: 41px;
  position: relative;
}

.empimg {
  height: 25px;
  width: 29px;
  border-radius: 14px;
  background-color: #a7c0dd;
}

#overviewgrid.e-rtl #Emptext {
  top: -12px;
  left: -41px;
  position: relative;
}

.highcontrast #overviewgrid td.e-rowcell.e-selectionbackground.e-active {
  background-color: transparent;
  color: white;
}

.e-bigger #overviewgrid .statustxt {
  position: relative;
}

#overviewgrid td.e-rowcell.e-selectionbackground.e-active {
  background-color: transparent;
}

.Mapimage .e-image {
  height: 13px;
  width: 14px;
  color: rgb(0, 68, 255);
}

td.e-rowcell .statustxt.e-activecolor {
  color: #00cc00;
  position: relative;
  top: 9px;
}

td.e-rowcell .statustxt.e-inactivecolor {
  color: #e60000;
  position: relative;
  top: 9px;
}

#Trusttext {
  position: relative;
  top: -7px;
}

.statustemp.e-inactivecolor {
  background-color: #ffd7cc;
  width: 64px;
}

.statustemp.e-activecolor {
  background-color: #ccffcc;
  width: 57px;
}

.statustxt.e-activecolor {
  color: #00cc00;
}

.statustxt.e-inactivecolor {
  color: #e60000;
}

.statustemp {
  position: relative;
  height: 19px;
  border-radius: 5px;
  text-align: center;
}

.highcontrast {
  color: #ffffff;
}

#samplecontainer {
  padding-top: 5px;
}

#myProgress {
  position: relative;
  height: 18px;
  width: 10em;
  text-align: left;
  background-color: white;
}

.highcontrast #overviewgrid #myProgress {
  background-color: black;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #00b300;
}

#myBar.progressdisable {
  background-color: #df2222;
}

#pbarlabel {
  position: relative;
  left: 10px;
  line-height: 18px;
  font-size: 10px;
  color: white;
}

.custom-rating.e-rating-container .e-rating-item-container,
.e-bigger
  .custom-rating.e-rating-container
  .e-rating-item-container
  .e-rating-icon,
.e-bigger.custom-rating.e-rating-container
  .e-rating-item-container
  .e-rating-icon {
  font-size: 11px;
}

.custom-rating.e-rating-container .e-rating-item-container .e-rating-icon {
  -webkit-text-fill-color: lightgrey;
  -webkit-text-stroke: 1px lightgrey;
}

.custom-rating.e-rating-container
  .e-rating-item-container.e-rating-selected
  .e-rating-icon {
  background: linear-gradient(
    to right,
    #ffa600 var(--rating-value),
    #ffa600 var(--rating-value)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffa600;
}

.search-input {
  padding: 5px 0px 5px 5px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
